header {
    display: flex;
    color: white;
    background-color: black;
    padding: 2%;
    justify-content: space-between;
}

.logo h1 {
    font-size: large;
}

.input-bar {
    border-radius: 15px;
}

.c-box-cont {
    text-align: center;
    margin: 5%;
}

.c-box {
    display: inline-block;
    padding: 5%;
    border-radius: 25px;
    background-color: lightgrey;
}
